.products-container {
  position: relative;
  margin-top: 5.5rem;
  /* min-height: 90vh; */
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

.product {
  /* position: absolute; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  /* margin-top: 6rem; */
  margin-bottom: 3rem;
  width: 80%;
  /* background-color: yellow; */
  /* margin: auto; */
}

/* --------------------Cart --------------------- */

.cart-container{
  display: flex;
  position: fixed;
  padding-right: .8rem;
  right: 0;
  z-index: 999;
}

.cart{
  position: relative;
}

.cart .icon{
  padding: .3rem .5rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.cart .item-no{
  font-size: 1rem;
  color: yellow;
  padding: .5rem .5rem;
  background-color: #d4f2;
  border-radius: skew;
  position: absolute;
  top: 0;
  right: 0;
}

/* ----------------- ! Cart ----------------------------- */

.product .product-banner-image img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.product .product-banner-text {
  width: 600px;
  margin-right: 1rem;
  text-align: left;
}

.product .product-banner-text h1 {
  font-size: 3rem;
}

.product .product-banner-text p {
  line-height: 2;
}

.product .product-banner-text button {
  border-radius: 3px;
  padding: 0.7rem 2rem;
}

.sales-history {
  display: flex;
  margin-top: 3.5rem;
  /* background-color: yellowgreen; */
}

.sales-history .history-item {
  width: 120px;
  padding: 0.5rem 1rem;
  /* background-color: black;
  color: white; */
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #ddd;
}

/* --------------------------- !Head --------------------- */


/* --------------------------- Product-categories --------------------- */
.product-categories{
  margin: 0 3rem 2rem 2rem;
  /* background-color: #ddd; */
}

.category-1 .cat-head{
  display: flex;
  justify-content: space-between;
}

.cat-body .cat-item{
  position: relative;
  max-width: 410px;
  display: flex;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #ddd;

}

.cat-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.cat-body .cat-item .item-content{
  max-width: 280px;
  text-align: left;
  padding: 1rem  .5rem;
  /* margin-bottom: 1rem; */
  /* background-color: black;
  color: white; */
}

.item-content .buys {
  position: absolute;
  display: none;
  bottom: 15px;
  left: 10px;
}

.cat-body .cat-item:hover .item-content .buys{
  display: block;
  cursor: pointer;
  box-shadow: 2px 2px 20px #d4f2;
}

.item-content .buys span{
  background-color: orangered;
  color: white;
  border-radius: 5px;
  /* display: none; */
  margin-right: 5px;
  padding: .5rem .8rem;
}

.item-content h5 span{
  font-size: 14px;
}

.cat-body .cat-item-img{
  cursor: pointer;
  max-width: 220px;
  /* object-fit: contain; */
}

.cat-item-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------------- !Product-categories --------------------- */




/* ------------- Queries ------------------------ */
@media screen and (max-width: 430px) {
  .product {
    flex-direction: column;
    margin: 0.5rem 5rem;
    min-width: 100%;
  }

  .product .product-banner-image img {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
  }

  .product .product-banner-text {
    width: 100%;
    margin: 10px 10px;
  }

  .product .product-banner-text h1 {
    font-size: 1.8rem;
  }

  .sales-history .history-item {
    width: 95px;
    margin-right: 5px;
  }

  .product-categories{
    width: 100%;
    margin: 3rem 0;
    /* background-color: #ddd; */
  }

  .cat-body{
    /* background-color: black; */
    grid-template-columns: 1fr;
  }
}
