body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", Arial, sans-serif;
    box-sizing: border-box;
}

hr {
    width: 10%;
    align-items: flex-start;
    border-top: 1px solid #459db6;
}

/* --------------------------- navigation bar ------------------------------------ */
.navigation {
    display: flex;
    width: 100% !important;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    padding: .3rem 0;
    justify-content: space-around;
}

.logo img {
    object-fit: cover;
    width: 70px;
}

.menu {
    margin: 1rem 0;
    font-size: 12px;
}

.menu-items ul {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    position: relative;
    text-decoration: none;
    font-size: 12px;
    color: #f5f5f5;
    padding: 8px;
    margin: 11px;
    transition: all 1s;
}

.menu-items ul .dropdown {
    position: relative;
    display: inline-block;
}

.bars {
    font-size: 25px;
    margin-top: .6rem;
    display: none;
}

.bars .dropdown {
    display: none;
}

.bars .dropdown .dropdown-content{
    padding: 2rem;
    height: 90vh;
    width: 280px;
    overflow-y: scroll !important;
    transition: all 5s ease;
}

.dropdown-content ul li{
    list-style: none;
}

.dropdown-content ul{
    transition: all 1.5s ease;
}

.bars .dropdown-content a{
    font-size: 16px;
}

.cart i{
    font-size: 1.5rem;
    padding: 15px;
    color: #f5f5f5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(0);
}

.menu ul li a:hover {
    transform: scale(1.1);
    padding: 8px;
    border-radius: 5px;
    color: #D4AB6A;
}

/* --------------------------- navigation bar ------------------------------------ */


/* ------------------- Carousel starts from here --------------------------------- */

.banner {
    /* background-image: url("../images/banner12.jpg"); */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-size: cover;
    /* text-align: center; */
    color: hsl(0, 0%, 100%);
    height: 99vh;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    margin: 0;
    width: 75%;
    text-align: center;
    /* background-color: red; */
}

.banner-content-text {
    position: relative;
    text-align: center;
    margin-top: 5rem;
    /* background-color: blue; */
    /* padding: 5rem 3rem; */
    /* top: 5.5rem; */
}

.banner-content img {
    padding: 0;
    margin: 0;
    /* background-color: yellow; */
    height: 400px;
}

.banner-content h1 {
    padding-bottom: 1rem;
    font-size: 50px;
    /* font-weight: bold; */
    margin: 0;
    /*to be removed*/
}

.banner-content-text span {
    font-size: 18px;
    /* font-weight: bold; */
}

.banner-content button {
    background-color: #000000;
    border: none;
    font-size: 1.5em;
    /* font-weight: bold; */
    border: none;
}

/* ------------------------ Carousel ends here --------------------- */

.about .container {
    /* height: 70vh; */
    padding-bottom: 15px;
    margin-top: 5%;
    /* margin: 0; */
}

.about .container .row .content h1 {
    text-align: center;
    font-size: 28px;
    /* font-weight: bold !important; */
}

.about .container .row .content-img {
    /* background-color: red; */
    height: 50vh;
}

.about .container .row img {
    object-fit: cover;
    width: 100%;
    color: red;
    height: 100%;
}

.about .container .row .content p {
    line-height: 30px;
    font-size: 18px;
}

.about .container .row .content button {
    background-color: black;
}

/* ------------------------- Section 2 | product display -------------------- */

.product-display {
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    background-color: #000000;
    color: white;
    margin: 0;
    height: 90vh;
    margin-top: 2rem;
    text-align: center;
}

.product-display-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.product-display-content p i {
    font-size: 8rem;
    color: white;
}



/* ----------------- Products display -----------------*/

/* --------------------Section 3 Services */

.services-outline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    text-align: center;
    padding: 25px 0;
    margin: auto 1rem;
    /* width: 100%; */
    grid-gap: 1.5rem;
}

.services-outline h3,
.services-outline h5 {
    /* font-weight: bold; */
    color: white;
}

.services-outline a {
    margin: 10px;
    color: yellowgreen;
    /* font-weight: bold; */
}

.service-content {
    width: 80%;
    margin: auto;
    padding-top: 20%;
}

.liquid-damage,
.custom-desktop,
.data-recovery,
.it-support {
    height: 81vh;
    /* text-align: center; */
    /* padding: 40px 0; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.liquid-damage {
    background-image: url("../images/liquid-damage.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    background-size: cover;
}

.custom-desktop {
    background-image: url("../images/desktoprecovery.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    background-size: cover;
}

.data-recovery {
    background-image: url("../images/datarecovery.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    background-size: cover;
}

.it-support {
    background-image: url("../images/itsupport.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    background-size: cover;
}


/* -------------------- what customer's say ---------------------- */
.review-item {
    background-color: #dfdfdf;
    /* height: 22rem; */
    width: 340px;
    margin: 0 .5rem;
    padding: 5px;
    margin-bottom: 3rem;
    display: inline-block;
    /* color: white; */
}

.review-text {
    background-color: white;
    height: 12rem;
    overflow-y: scroll;
    outline: none;
    color: rgba(0, 0, 25, 0.7);
    padding: 10px;
    /* margin: 5px; */
}

.review-text p {
    font-size: 18px;
    width: 90%;
    float: right;
}

.review-text i {
    width: 10%;
    position: fixed;
    float: left;
    font-size: 18px;
}

.review-text p::before {
    content: "⭐⭐⭐⭐⭐";
    color: gold;
    margin-right: 10px;
    font-family: FontAwesome;
}

.review-text::-webkit-scrollbar {
    width: 14px;
    /* scroll-margin: 40px; */
    /* margin-right: 9px; */
}

.review-text::-webkit-scrollbar-track {
    /* border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: blue; */
}

.review-text::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #ddd;
}

.review-info {
    /* display: inline-block; */
    /* padding: 10px; */
}

.review-info div {
    display: inline-block;
    margin: 10px;
}

.review-info .name {
    position: relative;
    top: 10px;
}

/* ------------------------------------------------------- */

/* ----------------------- Help -------------------------- */
.help-section {
    background-image: linear-gradient(90deg, #000000 40%, rgba(0, 0, 0, 0) 70%), url("../images/help-bg.jpg");
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    /* padding-bottom: 5rem; */
    height: 40rem;
    width: 97%;
    margin: 5rem auto;
}

.help-content {
    color: #f1f1f1;
    /* background-color: blue; */
    /* width: 700px; */
    padding: 7rem 20rem;
}

.help-content h1 {
    border-bottom: 3px solid #f1f1f1;
    padding-bottom: 15px;
    width: 300px;
}

.help-content ul {
    list-style: none;
    padding: 0;
    margin: 2.5rem 0;
}

.help-content li {
    padding-left: 1.3em;
    margin: 1rem 0;
    font-size: 18px;
    text-transform: uppercase;
}

.help-content li:before {
    content: "\f14a";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}


/* ------------------------------------------------------- */
/* --------------------- About | section ------------------------------ */

.about-company {
    text-align: center;
    /* font-size: 100%; */
    margin: 5rem auto;
    width: 100%;
    /* font-family: fantasy; */
}

.about-company-content {
    /* background-color: rgb(0, 0, 255); */
    width: 80%;
    margin: auto;
}

.about-company h1 {
    /* font-weight: bold; */
}

.about-company p {
    font-size: 20px;
}

/* -------------------------------------------------------------------- */
/* ---------------------------- footer -------------------------------- */
.footer {
    background-color: #1B1D1F;
    font-family: "Open Sans", Arial, sans-serif;
    /* font-weight: lighter; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    /* margin: auto; */
    padding: 7rem 6rem;
    color: #ddd;
    grid-gap: 3rem;
}

.footer a:hover {
    text-decoration: none;
}

.footer h4 {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    list-style: none;
    margin: 8px .5rem;
    font-size: 14px;
}

.footer .footer-main-menu ul li::before,
.footer-apple-repair ul li::before {
    content: '\f105';
    font-family: FontAwesome;
    padding-right: 8px;
    color: #112B3C;
}

.footer-about img {
    width: 70px;
    display: block;
    margin: 0 auto;
}

.footer-about em {
    font-size: 10px;
    display: block;
    /* margin: auto; */
    text-align: center;
}

.social-icons {
    margin-top: 2.5rem;
}

.footer .social-icons i {
    padding: 14px;
}

.footer .footer-it-support li i {
    padding-right: 10px;
}

.copyright p {
    font-size: 10px;
    /* font-weight: bold; */
    background-color: #000000;
    text-align: center;
    color: white;
    margin: 0;
    padding: 29px;
}

.footer div {
    /* background-color: #459db6; */

}

/* -------------------------------------------------------------------- */




@media screen and (max-width: 430px) {
    .navigation {
        width: 100vw !important;
        justify-content: space-between;
        padding: 5px 15px;
        margin: 0;
    }

    .menu {
        display: none;
    }

    .dropdown-content{
        position:absolute ;
        right: .2rem;
    }

    .bars {
        display: block !important;
        color: #459db6;
    }

    .bars .dropdown {
        display: block;
    }

    .cart{
        display: none;
    }


    .banner-content {
        flex-direction: column;
    }

    .banner h1 {
        font-size: 30px;
    }

    .banner button {
        font-size: 15px;
    }

    .banner-content img {
        display: none;
    }

    .product-display-content p i {
        font-size: 4.5rem;
    }

    .product-display-content h1 {
        font-size: 22px;
    }

    .services-outline {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        margin: 0;
        padding: 5px;
    }

    .services-outline .service-content{
        font-size: 10px;
    }

    .logo img {
        width: 50px;
        height: 40px;
    }

    .product-display .image-content img {
        width: 300px;
        height: 200px;
    }

    .carousel .text {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .help-section h1 {
        /* height: 30rem; */
        /* border-bottom: none; */
        width: 100%;
        font-size: 25px;
    }

    .help-section li{
        font-size: 15px;
    }

    .help-content {
        color: #f1f1f1;
        padding: 2rem 5rem;
        margin: auto;
    }

    .text img {
        display: none;
    }

    .carousel .slide1,
    .carousel .slide2,
    .carousel .slide3 {
        background: url("../images/banner12.jpg");
        background-size: cover;
        display: none;
        height: 600px;
        width: 100%;
    }

    .footer {
        padding: 5rem 1rem;
    }
}