* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-modal-body {
  /* background-color: blue; */
  padding: 0;
  margin: 0;
  height: auto;
}

.container-cart-checkout{
  /* background-color: yellow; */
  width: 100%;
}

.container-cart-checkout .item .item-details {
  /* background-color: bisque; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.container-cart-checkout .item .item-details p {
  margin: 0;
  font-weight: bold;
  padding: 0;
}

.container-cart-checkout .item .item-details h3{
  text-align: left;
}

.checkout-form form label {
  display: block;
  text-align: left;
  margin: 0.9rem 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

.checkout-form form input {
  width: 100%;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px #ddd;
  height: 35px;
}

.checkout-form form input:focus {
  outline: none;
}

.checkout-form button{
  border: none;
  margin: 1rem 0;
  padding: .5rem 0;
  background-color: #02026B;
  color: #fff;
  width: 100%;
}

.checkout-form .paystack-button {
  display: none;
}