/* ------------------------- Carousel -----------------------------  */
.carousel-container {
    position: relative;
}


.content-carouel {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300;
    transform: translateX(-50%) translateY(-50%);
    padding: .5rem;
    color: white;
}

.content-carouel h1 {
    font-weight: 300;
    color: white;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.content-carouel button {
    background-color: transparent;
    padding: .5rem 2.5rem;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

/* ------------------------- !Carousel ----------------------------- */

/* ------------------------- section 1 ----------------------------- */

.fist-section{
    margin-top: 2.5rem;
}

.fist-section h1{
    font-weight: 300;
}

.phone-pc {
    display: flex;
    margin: 2rem 5rem;
}

.phone-pc-info {
    width: 50%;
}

.phone-pc-info button,
.section-2 button,
.section-3-content button {
    background-color: #007BFF;
    padding: .5rem 1rem;
    border: 1px solid #007BFF;
    border-radius: 3px;
    color: white;
}

.phone-pc-img {
    width: 50%;
    margin-left: 1rem;
}

.phone-pc-img video {
    width: 100%;
    border-radius: 5px;
}

.text-primary {
    margin-top: 1.5rem;
}

.phone-pc-info p {
    text-align: justify;
    line-height: 1.5;
}

/* ------------------------- !section 1 ----------------------------- */

/* ------------------------- section 2 ----------------------------- */
.section-2 {
    position: relative;
    background-image: url("../images/background.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 300;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 600px;
    text-align: center;
}

.section-2 h1{
    font-weight: 300;
}

.section-2 .section-2-content {
    position: absolute;
    top: 45%;
    /* background-color: red; */
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

/* ------------------------- !section 2 ----------------------------- */


/* ------------------------- section 3 ----------------------------- */

.section-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 2rem 1.2rem;
    margin: 2rem 2rem;
}


.section-3 img {
    width: 100%;
    height: 90vh;
    border-radius: 10px;
    object-fit: cover;
}


.section-3-box {
    position: relative;
    width: 100%;
}

.section-3-box img {
    border-radius: 5px;
}

.section-3-content {
    position: absolute;
    top: 0;
    border-radius: 5px;
    bottom: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    width: 100%;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.section-3-content div {
    position: relative;
}

.section-3-content h1 {
    font-weight: 300;
    color: white;
}

.section-3-content button {
    background-color: transparent;
    border-radius: 10px;
}

/* ------------------------- !section 3 ----------------------------- */


/* -------------------------- section 4 - review ----------------------------- */

.review-text::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.review-text::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

/* Handle */
.review-text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.review-item {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px;
}

.review-text {
    display: flex;
    background-color: white;
    padding: 5px;
    height: 150px;
    overflow-y: scroll;
    font-family: "roboto";
    text-align: justify;
}

.review-text i {
    padding: 5px 0;
}

.review-text p span {
    color: gold;
    font-size: 20px;
}

.review-info {
    display: flex;
    padding: 30px 10px;
}

.review-info img {
    margin-right: 1rem;
}

/* ------------------------- !section 4 - review ----------------------------- */


/* -------------------------- section 5 ----------------------------- */

.section-5 {
    position: relative;
    background-image: url("../images/automation.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 600px 0 160px 50px #000000;
    width: 100%;
    height: 550px;
    text-align: center;
    margin: 2rem 0;
}



.section-5 h6 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
}

.section-5 .section-5-content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white;
}

.our-services{
    padding: 3rem 1rem;
    font-size: 1.8rem;
    font-weight: 300;
}


.section-5-content .item1{
    /* background-color: red; */
    text-align: left;
    width: 75%;
}

.item1 span{
    width: 70%;
    height: 1px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.item1 ul{
    margin: 0;
    padding: 0;
}

.item1 ul li{
    /* list-style: disc; */
    text-transform: uppercase;
    display: flex;
    font-size: 18px;
    font-weight: 300;
    padding: 7px 0 10px;
}


.item1 ul li i{
    padding: .7rem .8rem;
    max-height: 42px;
    margin-right: .5em;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.section-5-content .item2{
    width: 25%;
    /* background-color: yellow; */
    height: 100px;
}

.section-5 .section-5-content button {
    padding: .7rem 2.5rem;
    border-radius: .5rem;
    background: #fff;
    text-transform: uppercase;
    color: #000;
    text-transform: capitalize;
    border: 1px solid white;
    transition: all .5s ease-in-out;
}

.section-5 .section-5-content button:hover {
    background-color: black;
    border: none;
    color: wheat;
}

/* ------------------------- !section 5 ----------------------------- */


/* -------------------------- section 6 about MTS ----------------------------- */

.section-6 .about-content {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.section-6 .about-content div {
    box-shadow: 2px 2px 12px #ddd;
    border-radius: 10px;
    width: 80%;
    padding: 1rem;
}

.section-6 .about-content p {
    text-align: justify;
}

.about h3, .customer h3{
    padding: 2rem 1rem;
    font-weight: 300;
    font-size: 1.6rem;
}

/* ------------------------- !section 6 about MTS ----------------------------- */


/* -------------------------- section 7 - footer ----------------------------- */
.footer-container {
    background-color: #292929;
    display: flex;
    justify-content: center;
}

.footer-container .footer-items {
    /* background-color: blue; */
    padding: 7.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-items .footer-item {
    width: 190px;
}

.footer-items .footer-item * {
    padding: 0;
    margin: 0;
    text-align: left;
    /* color: white; */
}

.footer-items .footer-item p {
    color: #fff;
}

.footer-items .footer-item ul li {
    padding: .3rem 0;
}

.footer-items .footer-item h6 {
    margin-bottom: 1rem;
    /* background-color: yellow; */
}

.footer-items .footer-item .footer-link {
    color: white;
}

.footer-items .footer-item h6 {
    color: #007BFF;
}

.social-icon i{
    color: white;
    padding: .5em 1em !important;
    border-radius: .5rem;
    font-size: 1rem;
    margin: auto !important;
    margin-right: .5rem !important;
}



/* ------------------------- !section 7 - footer ----------------------------- */




/* -------------------------------------------------------Query--------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    .section-3 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 2rem 1.2rem;
        margin: 2rem 2rem;
    }

    .carousel-item img {
        height: 80vh;
    }

    .footer-container .footer-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 2.1rem;
    }

    .footer-items .footer-item {
        width: 175px;
    }

    .section-5 {
        box-shadow:inset 400px 0 160px 50px #000000;
    }
}

@media screen and (max-width: 320px) {
    .content-carouel {
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .section-3-content {
        padding-top: 10%;
    }
}

@media screen and (max-width: 430px) {

    h1 {
        font-size: 1.5rem;
    }

    /* ------------------------- Carousel ----------------------------- */
    .content-carouel {
        position: absolute;
        /* top: 40%; */
        width: 100%;
    }

    /* ------------------------- !Carousel ----------------------------- */

    /* ------------------------- section 1 ----------------------------- */
    .phone-pc {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem .5rem;
    }

    .phone-pc-info {
        width: 100%;
    }

    .phone-pc-img {
        width: 100%;
        margin: .5rem 0;
    }

    /* ------------------------- !section 1 ----------------------------- */


    /* ------------------------- section 2 ----------------------------- */
    .section-2 .section-2-content {
        top: 50%;
    }

    .section-2 img {
        height: 300px;
    }

    .phone-pc-info button,
    .section-2 button {
        padding: .5rem .5rem;
        border-radius: 3px;
    }

    .section-2 .section-2-content h1 {
        font-size: 1.5rem;
    }

    /* ------------------------- !section 2 ----------------------------- */

    /* ------------------------- section 3 ----------------------------- */

    .section-3 {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin: .5rem;
    }

    .section-3 {
    }

    .section-3-content {
        padding-top: 50%;
    }

    .section-3 img {
        width: 100%;
        height: 90vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .section-3 img {
        height: 80vh;
    }

    /* ------------------------- !section 3 ----------------------------- */

    .section-6 .about-content div {
        width: 100%;
    }

    .footer-container .footer-items {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .footer-items .footer-item {
        width: 100%;
        /* background-color: blue; */
        margin-bottom: 1rem;
    }

    .section-5 {
        box-shadow:inset 100px 0 160px 50px #000000;
    }

    .section-5 .section-5-content {
        width: 100%;
        padding-left: .5rem;
    }

    .section-5-content .item1{
        width: 100%;
    }

    .section-5-content .item2{
        width: 0;
    }

}