* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    transition: all 1s ease;
    height: 60px;
    width: 100% !important;
    z-index: 5;
}

.nav-link1{
    color: #fff;
}


.container1 {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
}

.container1 .logo-container {
    margin-top: .3rem;
}

.nav-links {
    width: 450px;
    /* background-color: yellow; */
}

.nav-links>ul {
    display: flex;
    justify-content: space-between;
}

.nav-links>ul li {
    font-size: 12px;
}

.dropdown {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #000;
    width: 180px;
    border-top: 2px solid #fff;
    padding: 10px;
    color: #fff;
}

.nav-button:hover .dropdown {
    display: block;
}

.nav-link .dropdown ul {
    margin: 0;
    padding: 0;
}

.nav-link .dropdown ul li {
    padding: 1em .5em;
}

.nav-link .dropdown ul li a {
    color: #fff;
}

.nav-btn {
    /* background-color: blue; */
    margin-top: 1rem;
    color: #fff;
}

.container1 .login-register {
    margin-top: .8rem;
}

.login-register button, .login-register1 button {
    padding: .3rem 1.5rem;
    border-radius: 1.6rem;
    background-color: transparent;
    border: 1.5px solid #fff;
    margin-right: .3em;
    color: #ddd;
}

.login-register .login-fill, .login-register1 .login-fill{
    background-color: blue;
    border: none;
    color: #fff;
}

.login-fill .login-fill-btn{
    color: #fff;
}

.container1 .btn-group{
    display: none;
}

.dropbtx{
    margin-top: 1.4rem;
    /* background-color: #bcbcbc; */
}

.dropbtx span {
    width: 40px;
    height: 2px;
    margin-top: 5px;
    background-color: #fff;
    display: block;
}

.container1 .offcanvas-header{
    background-color: #000;
    color: #fff;
}

.container1 .offcanvas-header button{
    color: #fff;
    background-color: #ddd;
}

.container1 .mobile-navs{
    background-color: #000;
    color: #fff;
}

.container1 .mobile-navs .navs{
    text-align: left;
}

/* .container1 .mobile-navs .nav-items{

} */

.container1 .mobile-navs .nav-item{
    padding: .5rem;
    margin-bottom: .5em;
    border-radius: .5em;
    transition: all 1s ease;
    width: 300px;
}

.container1 .mobile-navs .nav-item:hover{
    background-color: blue;
}

.container1 .mobile-navs .nav-item i{
    margin-right: 1rem;
    font-size: 1rem;
}
.container1 .mobile-navs .nav-item span{
    margin-right: 1rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .container1 {
        justify-content: space-evenly;
    }

    .nav-links {
        width: 330px;
        /* background-color: yellow; */
    }
}

@media screen and (max-width: 430px) {
    .nav-btn {
        display: none;
    }

    .container1 {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .container1 .login-register {
        display: none;
    }

    .container1 .btn-group{
        display: block;
    }
}