@font-face {
    font-family: "campton";
    src: url(../../../public/campton/CamptonLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-weight: 300; */
}

body {
    font-family: "campton" !important;
    font-style: normal;
    background: #EBF1FF !important;
    overflow-x: hidden !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    transition: all 1s ease;
    /* box-shadow: 2px 2px 10px #ddd; */
    height: 60px;
    width: 100% !important;
    z-index: 5;
}

.nav-link1 {
    color: #02026B;
}


.container1 {
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
}

.container1 .logo-container {
    margin-top: .3rem;
}

.nav-links {
    width: 450px;
    /* background-color: yellow; */
    margin-top: .4em;
}

.nav-links>ul {
    display: flex;
    justify-content: space-between;
}

.nav-links>ul li {
    font-size: 12px;
}

.dropdown {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #02026B;
    width: 180px;
    border-top: 2px solid #fff;
    padding: 10px;
    color: #fff;
}

.nav-button:hover .dropdown {
    display: block;

}

.nav-button>a {
    color: #02026B;
}

.nav-link .dropdown ul {
    margin: 0;
    padding: 0;
}

.nav-link .dropdown ul li {
    padding: 1em .5em;
}

.nav-link .dropdown ul li a {
    color: #fff;
}

.nav-btn {
    /* background-color: blue; */
    margin-top: 1rem;
    color: #02026B;
}

.container1 .login-register {
    margin-top: .8rem;
    /* background-color: yellowgreen; */
}

/* .container1 .login-register1{
    padding: 0 !important;
} */

.login-register button,
.login-register1 button {
    padding: .7rem 2rem;
    /* border-radius: 1rem; */
    background-color: transparent;
    border: 1.5px solid #EBF1FF;
    margin-right: .6em;
    /* color: #EBF1FF; */
}

.login-register button{
    padding: .3rem 1.8rem;
    /* border-radius: 1rem; */
    background-color: transparent;
    border: 1.5px solid #02026B;
    margin-right: .6em;
    /* border-radius: 1rem; */
    color: #02026B;
}

.login-register1 button{
    padding: .6rem 2.5rem;
}

.user-loggedin-mobile{
    background-color: #EBF1FF;
    width: 325px;
    color: #EBF1FF;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    /* padding: 1rem 0; */
    margin: 1rem 2rem;

}

.user-loggedin .username{
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: #dda;
}

.user-loggedin-mobile h1{
    padding: 0;
    margin: 0 !important;
    margin: 0 auto;
    font-size: 32px;
    color: #02026B;
    font-weight: 600;
}

.login-register .login-fill,
.login-register1 .login-fill {
    background-color: #02026B;
    color: #EBF1FF;
    border: none;
    font-size: 18px;
    font-weight: 600;
    /* color: #EBF1FF; */
}

.login-fill .login-fill-btn {
    color: #EBF1FF;
    /* color: #fff; */
}

.login-normal-btn{
    color: #02026B;
    font-size: 18px;
    font-weight: 600;
}

.login-register1 .login-fill{
    background: #EBF1FF;
    color: #02026B !important;
}

.menu-items-mobile .login-register1 .login-fill-btn{
    color: #02026B !important;
}

.login-register1 .login-normal-btn{
    background: transparent;
    color: #EBF1FF;
    border-radius: 1px solid #EBF1FF;
}

.container1 .navigationBox {
    display: none;
}

.dropbtx {
    margin-top: 1.4rem;
    /* background-color: #bcbcbc; */
}

/* .dropbtx span {
    width: 40px;
    height: 2px;
    margin-top: 5px;
    background-color: #fff;
    display: block;
} */

/* .container1 .offcanvas-header {
    background-color: #000;
    color: #fff;
} */

/* .container1 .offcanvas-body{
    height: 100vh !important;
} */

/* .container1 .offcanvas-header button {
    color: #fff;
    background-color: #02026B;
} */

/* .container1 .mobile-navs .nav-items{


} */

.mobile-nav-style {
    height: max-content;
    display: none;
    /* width: 50%; */
    margin-top: 1.2em;
}

.mobile-nav-style .width {
    width: 100%;
    margin-top: .2em;
    display: flex;
    justify-content: end;
    text-align: right;
}

.mobile-nav-style .cart-icon {
    height: fit-content;
    position: relative;
    height: 100%;
    width: fit-content;
}

.mobile-nav-style .cart-no {
    position: absolute;
    display: flex;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    width: 20px;
    height: 20px;
    left: 12px;
    top: -6px;
    color: #EBF1FF;
    background: #02026B;
    border-radius: 50%;
}

.mobile-nav-style .cart-no p{
    margin: 0;
    font-size: 10px;
    padding: 0;
}

.mobile-nav-style .icon-x {
    font-family: inherit;
}

.mobile-nav-style .icon-x::after {
    position: absolute;
    content: "\d7";
    /* use the hex value here... */
    font-size: 2.8rem;
    right: 0;
    top: -22px;
    transition: all .5s ease-in-out;
    color: #02026B;
    /* line-height: 100px; */
    /* text-align: center; */
}

.mobile-nav-style .cart-icon i {
    font-size: 1.7rem;
    position: absolute;
    transition: all .5s ease-in-out;
    top: -8px;
    padding: 0 !important;
    margin: 0 !important;
    display: inline;
    color: #02026B;
}

.mobile-nav-style .menu-bar {
    display: flex;
    position: relative;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    transition: all .5s ease-in-out;
    justify-content: space-between;
    width: 80px;
    /* background-color: yellow; */
}

.mobile-nav-style .menu-bar .width-1 {
    box-sizing: border-box;
    border-radius: .8rem;
    width: 16px;
    border: 2px solid #02026B;
}

.mobile-nav-style .menu-bar .width-2 {
    box-sizing: border-box;
    border-radius: .8rem;
    width: 24px;
    border: 2px solid #02026B;
}

.mobile-nav-style .menu-bar .width-3 {
    box-sizing: border-box;
    border-radius: .8rem;
    width: 20px;
    border: 2px solid #02026B;
}

.mobile-nav-style .menu-items-mobile {
    position: absolute;
    top: 60px;
    bottom: -1000px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: start;
    /* padding: 2rem .6rem; */
    background: #02026B;
}

.mobile-nav-style .menu-items-mobile ul {
    /* background-color: yellow; */
    margin-top: 3rem;
    text-align: left;
}

.mobile-nav-style .menu-items-mobile ul li{
    /* line-height: 120%; */
    margin: 1.5rem 0;
}

.mobile-nav-style .menu-items-mobile .mobile-menu-btn {
    font-size: 32px;
    font-weight: 600;
    color: #EBF1FF;
}

.mobile-nav-style .menu-items-mobile .login-register1{
    padding: 2rem 1.8rem;
    /* background-color: orange; */
}



@media screen and (max-width: 768px) {
    .container1 {
        justify-content: space-evenly;
    }

    .nav-links {
        width: 330px;
        /* background-color: yellow; */
    }
}

@media screen and (max-width: 430px) {
    .nav-btn {
        display: none;
    }

    .container1 {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .container1 .login-register {
        display: none;
    }

    .container1 .btn-group {
        display: block;
    }

    

    .mobile-nav-style {
        display: block;
    }
}

@media screen and (max-width: 320px){
    .mobile-nav-style .menu-items-mobile .login-register1{
        padding: 2rem 0 1.8rem .5rem;
    }
}