.appointment-container{
    color: #333;
    background-color: #f2f2f2;
    text-align: left;
    padding-bottom: 4rem;
}

.appointment-header{
    color: #333333;
    background-color: #f2f2f2;
    padding: .5rem 2rem;
    box-shadow: 2px 2px 10px rgb(212, 206, 206);
}

.appointment-header h1{
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.app-details{
    margin-top: 3rem;
}

.app-details .details-form{
    display: flex;
    justify-content: center;
}

.app-details .details-form .form{
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    width: 98%;
}

.app-details .details-form form{
    width: 50%;
}

.issue-type *{
    width: 100%;
    margin: .2rem 0;
}

.issue-type label{
    font-weight: bold;
    color: #867272;
}

.issue-type input, .issue-type select, .issue-type button, .issue-type textarea{
    padding: .5rem .8rem;
    border: 1px solid #f2f2f2;
    outline: none;
    border-radius: 3px;
}

.issue-type button{
    background-color: #333;
    color: whitesmoke;
}


/* time scheduling */

.time-container .details-form .form{
    padding: 2rem 1rem;
}

.time-day h1{
    font-size: 1.5rem;
}

.time-day .time{
    display: flex;
    width: 100%;
}

.time-day .time-item{
    box-shadow: 3px 3px 10px #ddd;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 2rem;
    border-radius: 5px;
    margin: .5rem;
}


.offices{
    margin-top: 5rem;
}

.map-office{
    display: flex;
    justify-content: center;
}

.office-map{
    width: 600px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.office-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px #ddd;
    margin-left: 1rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 1em;
}

/*  ------------ Faq */
.faq{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .faq-container{
    width: 900px;
  }
  
  .faq-container p{
    text-align: justify;
  }
  
  
  /*  ------------ Faq */




@media screen and (max-width: 430px){
    .app-details .details-form .form{
        width: 95%;
    }
    .app-details .details-form form{
        width: 100%;
        padding: 1rem;
    }

    .time-container .details-form .form{
        position: relative;
        justify-content: start;
        padding: .4rem;
    }

    .time-container .details-form .form .appointment-time{
        width: 100%;
    }

    .time-day .time-item{
        padding: .5rem 1rem;
    }

    .time-day .time{
        overflow-x: hidden;
        max-width: 100%;
        overflow-x: scroll;
    }

    .office-map{
        width: 100%;
    }

    .map-office {
        display: flex;
        flex-direction: column;
    }

    .office-address{
        margin: 1rem;
    }

    .faq-container{
        width: 100vw;
        margin: 10px;
      }
}