body{
    background:  #fff;
}

.repair-page-banner {
    height: 65vh;
    width: 100%;
    background-color: #02026B;
    color: white;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.re-banner-content h1 {
    font-size: 28px;
    color: white;
    font-weight: 700;
}

.re-banner-content p {
    font-size: 18px;
    font-weight: 400;
}

.laptop-services {
    /* background-color: orangered; */
    display: flex;
    justify-content: center;
}

.services-items {
    /* background-color: blue; */
    box-shadow: 1px 1px 8px #ddd;
    width: 80%;
    border-radius: 0.5rem;
    margin-top: 2rem;
    display: flex;
}

.services-items .service-item {
    width: 50%;
    text-align: left;
}

.services-items .service-item img {
    object-fit: cover;
}

.services-items .item2 {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.services-items .item2 h1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 1rem;
}

/* .service-item .item2 * {
    font-weight: 300;
} */

.services-items .item2 .appointment {
    font-size: 20px;
    font-weight: 400;
    padding: .5rem 1rem;
    color: #02026B;
    border: 1px solid #02026B;
    display: flex;
    justify-content: center;
}

.services-items .service-item ul li {
    list-style: disc;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.services-items .service-item p {
    font-size: 16px;
}

.data-recovery {
    height: 80vh;
    width: 100%;
    background: #02026B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.data-recovery .data {
    /* background-color: blue; */
    color: white;
    width: 60%;
}


.data h2 {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.data h1 {
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.data .team {
    font-size: 10px;
    font-style: italic;
}

.data p {
    font-size: 16px;
    font-weight: 400;
}

.data .appointment {
    font-size: 20px;
    font-weight: 400;
    color: #EBF1FF;
    border: 1px solid #EBF1FF;
    padding: .5rem 1rem;
    /* display: flex;
    justify-content: center; */
}

@media screen and (max-width: 768px) {
    .re-banner-content h1 {
        font-size: 25px;
    }

    .re-banner-content p {
        font-size: 16px;
    }

    .services-items .service-item {
        width: 100%;
    }

    .services-items .service-item img {
        /* border-top-left-radius: 0.5rem; */
        border-bottom-left-radius: 0;
        /* border-top-right-radius: 0.5rem; */
    }

    .data h2 {
        font-size: 14px;
        color: white;
    }

    .data p {
        font-size: 14px;
    }

    .data-recovery .data {
        width: 90%;
    }
}



@media screen and (max-width: 430px) {
    .re-banner-content h1 {
        font-size: 20px;
    }

    .re-banner-content p {
        font-size: 14px;
    }

    .services-items {
        flex-direction: column;
        width: 100%;
    }

    .services-items .service-item {
        width: 100%;
    }

    .services-items .service-item img {
        /* border-top-left-radius: 0.5rem; */
        border-bottom-left-radius: 0;
        margin-bottom: 1em;
        /* border-top-right-radius: 0.5rem; */
        object-fit: cover;
    }

    .data h2 {
        font-size: 11px;
        color: white;
    }

    .data p {
        font-size: 14px;
    }

    .data-recovery .data {
        width: 90%;
    }
}