.registration-form .form label{
    text-align: left;
}

.registration-form .form form{
    box-shadow: 3px 3px 20px #ddd;
    border-radius: 10px;
    padding: 3rem;
}

.back{
    display: flex;
    justify-content: start;
    padding: .5rem;
}




@media screen and (max-width: 430px){
    .registration-form .form form{
        padding: .5rem;
    }
}