.product-page .carousel-item img{
  height: 100vh;
  background-color: red;
}


/* --------------------Cart --------------------- */

.cart-container{
  display: flex;
  position: fixed;
  padding-right: .1rem;
  /* background-color: red; */
  right: 0;
  top: 11%;
  z-index: 999;
}

.cart{
  position: relative;
}

.cart .icon{
  padding: .8rem 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.cart .icon i{
  font-size: 1.5rem;
}

.cart .item-no{
  font-size: 1rem;
  color: white;
  padding: .2rem .5rem;
  border-radius: 10px;
  font-weight: bold;
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
}

/* ----------------- ! Cart ----------------------------- */

/* --------------------------- !Head --------------------- */


/* --------------------------- Product-categories --------------------- */
.product-categories{
  margin: 4rem 0;
}

.cat-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cat-item{
  margin: 1rem;
  box-shadow: 1px 1px 10px #ddd;
  border-radius: 5px;
  display: flex;
}

.cat-item .cat-item-img{
  max-width: 150px;
  max-height: 125px;
  padding: .5rem;
}

.cat-item .cat-item-img img{
  width: 100%;
  cursor: pointer;
  height: 100%;
} 

.cat-item .item-content{
  max-height: 125px;
  width: 250px;
  text-align: left;
  /* padding: .9rem 2rem 2rem .5rem; */
}

.item-content h4{
  margin-bottom: 0;
  font-size: 1.5rem;
  background-color: darkblue;
  color: white;
}

.item-content span{
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.item-content p{
  margin-bottom: 1rem;
}

/* --------------------------- !Product-categories --------------------- */




/* ------------- Queries ------------------------ */
@media screen and (max-width: 430px) {
  .product {
    flex-direction: column;
    margin: 0.5rem 5rem;
    min-width: 100%;
  }

  .product .product-banner-image img {
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
  }

  .product .product-banner-text {
    width: 100%;
    margin: 10px 10px;
  }

  .product .product-banner-text h1 {
    font-size: 1.5rem;
  }

  .sales-history .history-item {
    width: 95px;
    margin-right: 5px;
  }

  .product-categories{
    width: 100%;
    margin: 3rem 0;
    /* background-color: #ddd; */
  }

  .cat-body{
    /* background-color: black; */
    grid-template-columns: 1fr;
    /* justify-content: center; */
    /* margin: auto; */
  }
}
